<header>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		{% for nav_page in site.pages %}
		{% if nav_page.title and nav_page.autogen == nil %}
		<li class="nav-item">
		  <a class="nav-link" href="{{ nav_page.url | relative_url }}">{{ nav_page.title | escape }}</a>
		</li>
		{% endif %}
		{% endfor %}
	  </ul>
	</div>
  </nav>
  <hr class="header-hr"></hr>
  <div class="header-main">
	{% if site.logo %}
  	<a class="site-title-link" href="{{ "/" | relative_url }}"><img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}"  class="site-logo" style=""></a>
	{% else %}
  	<a class="site-title-link" href="{{ "/" | relative_url }}"><h1 class="site-title">{{ site.title | escape }}</h1></a>
	{% endif %}
  </div>
</header>
